@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Playfair+Display:ital@0;1&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #1D4F7C;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --text-primary: #1D4F7C;
    --text-md: calc(1.325rem + .9vw);
    --text-sm: 1.25rem;
  }
}
